.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        masa
      .side-header__box__menu
        = link_to '#' do
          =icon('fas','comments', class: "icon")
        = link_to '#' do
          =icon('fas','user-edit', class: "icon")
  .groups
    = link_to '#', class: "group" do
      %p.group--name
        techcamp
      %p.group--message
        まだメッセージがありません