* {
  box-sizing: border-box;
}


.wrapper {
  @include -location(flex, none);
  .chat-side {
  @include -size(100vh, 300px);
  @include -color($wrapper, #ffffff);
  }
}

.main-chat {
  @include -size(100vh, calc(100vw - 300px));
  @include -color($MainHead, auto);
  .main-header {
    @include -size(100px, 100%);
    @include -location(flex, space-between);
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        @include -color(auto, #333);
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member-list {
        @include -location(flex, none);
        font-size: 12px;
        @include -color(auto, $details);
        &__member {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit-btn {
      @include -size(40px, auto);
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $button;
      position: absolute;
      right: 40px;
      font-size: 16px;
      @include -color(auto, $button);
    }
  }
  .messages {
    @include -size(calc(100% - 190px), 100%);
    @include -color($MainChat, auto);
    padding: 35px 40px;
    .message {
      padding-bottom: 46px;
      &__upper-info {
        @include -location(flex, none);
        margin-bottom: 12px;
        &--talker {
          @include -color(auto, #333333);
          font-size: 16px;
          font-weight: bold;
        }
        &--date {
          @include -color(auto, $details);
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        @include -color(auto, $message);
        font-size: 14px;
      }
    }
  }
  .form {
    @include -size(90px, 100%);
    @include -color($MainForm, none);
    padding: 20px 40px;
    .new-message{
      @include -location(flex, none);
      .input-box {
        @include -size(none, 100%);
        position: relative;
        &__text {
          @include -size(50px, 100%);
          @include -color(auto, $message);
          padding: 0 40px 0 10px;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &--file {
            display: none;
          }
        }
      }
      .submit-btn {
        @include -size(50px, auto);
        @include -color($button, white);
        padding: 0 30px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}
